<div class="section full-height">
    <div class="absolute-center">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            Welcome to Gallery Page
                        </h2>
                        <h6 class="tag-line">
                            Explore different colorful pictures of your choice
                        </h6>
                        <br>
                        <br>
                        <br>
                       <app-photo-gallery></app-photo-gallery>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-5 py-5">
</div>