<div class="card-columns" style="column-count: 4;">
    <div class="card" *ngFor="let item of imageResponse?.items">
        <img class="card-img-top" [src]="item.media.m" [alt]="item.title" />
        <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text" style="color: #777777;">
                Uploaded by {{ item.author_id }}
               
            </p>
            <p class="card-text">{{ item.title }}</p>
            <hr *ngIf="item.tags!==''">
            <p class="card-text" *ngIf="item.tags!==''">
                <small class="text-muted">{{ item.tags }}</small>
            </p>
        </div>
    </div>
</div>